.footer{
    background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
    padding-top: 57px;
    @include media-tablet {
        padding-top: 29px;
    }
}

.footer__wrapper{
    display: flex;
    align-items: top;
    justify-content: space-between;
    flex-wrap: wrap;
    @include media-tablet {
        justify-content: center;
        gap: 63px 48px;
    }
    @include media-mobile{
        gap: 39px 48px;
        img{
            max-width: 87%;
        }
    }
}

.footer_question{
    max-width: 290px;
    h3{
       color: $color-light-xl;
    }
    @include media-mobile {
        text-align: center;
    }
}

.footer__phone{
padding-top: 40px;
@extend %footer-link;
}

.footer__email{
    padding-top: 40px;
    @extend %footer-link;
    @include media-tablet {
        padding-top: 38px;
    }
}

.footer__adress{
    padding-top: 32px;
    a{
        font-size: 1.89rem;
    }
    @extend %footer-link;
    @include media-mobile {
        justify-content: flex-start;
        padding-top: 40px;
            a{
                padding-left: 15px;
                font-size: 1.93rem;
            }
    }
}



.footer_visit{
    max-width: 290px;
    h3{
       color: $color-light-xl;
    }
    @include media-mobile {
        text-align: center;

    }
}
