%hamburger-line{
    content: "";
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 2px;
}

.hamburger {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 20px;  
    display: none;
    transition: all 0.5s ease-in-out;
    @include media-burger {
        display: block;
        margin-right: 53px;
        z-index: 3;
    }
    @include media-mobile {
        margin-right: 40px;
    }
    &:before{
        @extend %hamburger-line;
        background-color: $color-primary;
        top: 0;
        left: 0;
    }
    &:after{
        @extend %hamburger-line;
        background-color: $color-primary;
        bottom: 0;
        left: 0;
    }
    &_pets{
        &:before{
            @extend %hamburger-line;
            background-color: $color-dark-4xl; 
            top: 0;
            left: 0;
        }
        &:after{
            @extend %hamburger-line;
            background-color: $color-dark-4xl; 
            bottom: 0;
            left: 0;
        }
    }
}

.hamburger__line{
    @extend %hamburger-line;
    background-color: $color-primary;
    top: calc(50% - 1px);
    &_pets{
        background-color: $color-dark-4xl; 
    }
}
input{
    display: none;
}

// input:checked ~ .header__navigation {
//    right: 0;
//    box-shadow: 0 0 0 9999px rgba(0,0,0, 0.5)
// }

.header__navigation_aktiv {
    right: 0 !important;
    box-shadow: 0 0 0 9999px rgba(0,0,0, 0.5)
 }

// input:checked ~ .hamburger {
//     transform: rotate(90deg);
//     position: fixed;
//     right: 0;
//  }

.hamburger_aktiv {
    transform: rotate(90deg);
    position: fixed;
    right: 0;
 }