.about__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 75px;
    padding-bottom: 92px;
    gap: 0 120px;

    @include media-tablet{
        flex-direction: column-reverse;
        padding-top: 68px;
        padding-bottom: 97px;
        img{
            max-width: 300px;
            padding-right: 0;
            padding-top: 77px;
            
        }
    }
    @include media-mobile{
        padding: 27px 0 46px;
        img{
            max-width: 260px;
            padding-top: 37px;
        }
    }
}

.about__content{
    padding-top: 15px;
    max-width: 35%;
    h3:first-child{
        padding-bottom: 25px;
    }
    p:last-child{
        padding-top: 25px;
    }
    .paragraph-l{
        color: $color-dark-xl;
    }
    @include media-tablet{
        max-width: 60%;
    }
    @include media-mobile{
        max-width: 90%;
        text-align: center;
        .paragraph-l{
            padding: 0;
            text-align: justify;
            font-size: 1.42rem;
        }
        p:last-child{
            padding-top: 21px;
        }
    }
}