.donation{
    background: $color-light-l;
    padding: 80px 0 105px 0;
    @include media-tablet{
        padding: 80px 0 100px 0;
    }
    @include media-mobile {
        padding: 41px 0 42px 0;
    }
}

.donation__wrapper{
    display: flex;
    justify-content: center;
    align-items:start;
    flex-wrap: wrap-reverse;
    gap: 30px;

    img{
        padding-top: 10px;
    }
    @include media-tablet{
        gap: 48px;
        img{
            width: 72%;
            padding-top: 10px;
        }
    }
    @include media-mobile {
        gap: 42px;
        img{
            width: 86%;
            padding-top: 0;
        }
    }
}

.donation__content{
    max-width: 380px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    
    h5{
        padding: 20px 0;
    }
    @include media-tablet {
        padding-left: 0;
    }
    @include media-mobile {
        align-items: center;
        justify-content: center;
        h5{
            padding: 24px 0;
            font-size: 1.3rem;
        }  
        h3{
            text-align: center;
        }
    }
    
}
.donation__icon {
    display: flex;
    max-width: 355px;
    padding: 10px 0;
    background-color: $color-primary;
    border-radius: 9px;
    text-decoration: none;
    svg{
        vertical-align: middle;
        padding-left: 15px;
    }
    p{
        @include font(2.0rem, 2.3rem, $color-dark-l);
        text-decoration: none;
        padding: 0 15px;
        vertical-align: middle;
    }

    &:hover{
        transition: all 0.3s ease-in-out;
        background-color: $color-primary-light;
    }

    @include media-mobile {
        justify-content: center;
        align-items: center;
        p{
            @include font(1.5rem, 1.65rem, $color-dark-l);
        }
    }
}

.donation__subscribe{
    padding-top: 20px;
    @include font(1.19rem, 1.8rem, $color-dark-m, Arial, italic);
}

.donation__number-card{
    @include media-mobile {
        flex-shrink: 1;
        max-width: 100%;
    }
}