.friends{
    background: $color-light-l;
    padding-top: 81px;
    padding-bottom: 100px;
    @include media-tablet {
        padding-top: 85px;  
    }
    @include media-mobile{
        padding-bottom: 41px;
        padding-top: 42px;  
    }
}

.friends__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

    h3{
        max-width: 450px;
        text-align: center;
    }

}
.slider{
    padding: 60px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media-mobile {
        flex-direction: column;
        padding: 40px 0 112px;
        position: relative;
    .arrow{
        position: absolute;
        top: 496px;
        left: 58px;
        &:last-child{
             margin-left: 131px;
        }
    }
    }
}

.slider__items{
    max-width: 990px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    @include media-tablet {
        max-width: 580px;
        overflow: hidden;
        flex-wrap: nowrap;
    }
}

.slider__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    background-color: $color-light-s;
    border-radius: 9px;
    cursor: pointer;
    &:hover{
        button{
                transition: all 0.3s ease-in-out;
                background-color: $color-primary-light;
                border: 2px solid $color-primary-light;
        }
        img{
            background-color: $color-light-l;
        }
    }
    @include media-tablet {
            margin: 0 20px;
            &:first-child {
                margin-left: 0px;
            }
            &:last-child {
                margin-right: 0px;
            }
    }

    @include media-mobile {
        max-width: 270px;
        margin: 0 15px;
        &:first-child {
            margin-left: 15px;
        }
        &:last-child {
            margin-right: 0px;
        }
    }
}

.item__title{
   @include font(2.0rem, 2.272rem, $color-dark-l);
   padding: 25px 0;
   @include media-mobile{
    padding-top: 34px;
   }
}