.header-promo-wrapper{
    background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.promo{
   padding-top: 60px;
   overflow: hidden;
}

.promo__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @include media-tablet{
        justify-content: center;
        img{
            max-width: 80%;
            padding-left: 150px;
        }
    }

    @include media-mobile{
        img{
            max-width: 85%;
            padding-top: 110px;
            padding-left: 30px;
        }
    }
}

.promo__content{
    max-width: 38.5%;
    padding-bottom: 80px;
    @include media-tablet{
        padding-bottom: 100px;
        max-width: 65%;
        form{
            display: flex;
            justify-content: center;
        }
    }

 

    @include media-mobile{
        padding-bottom: 0;
        max-width: 100%;
    }
}

.promo__discription{
    padding: 42px 0;
    text-align: justify;
}

