.header_pets{
    padding: 30px 0;
}
.header__logo_pets{
    h1{
        color: $color-dark-l;
    }
    p{
        color: $color-dark-3xl;     
    }

    &:hover{
        h1{
            transition: all 0.3s ease-in-out;
            color: $color-dark-3xl;
        }
    }
}

// .header__wrapper{
//     .hamburger{
//         &::after{
//             background-color: $color-dark-4xl;
//         }
//         &::before{
//             background-color: $color-dark-4xl;
//         }
//         .hamburger__line{
//             background-color: $color-dark-4xl;  
//         }
//     }
// }

.navigation__link_text{
    color: $color-dark-l;
}

.aktive-link-pets{
    padding-bottom: 2px;
    border-bottom: 3px solid $color-primary;
    color: $color-dark-3xl;
}

.navigation__link_pets{
    .navigation__link_text{   
            &:hover{
                transition: all 0.3s ease-in-out;
                color: $color-dark-3xl;
            }
    }
}

.pets{
    background-color: $color-light-l;
}
.pets__wrapper{
    padding: 80px 0 100px 0;
    h3{
        text-align: center;
        padding-bottom: 30px;
    }
    @include media-tablet {
        padding: 80px 0 78px 0;
        h3{
            padding-bottom: 0;

        }
    }
    @include media-mobile{
        padding: 42px 0 42px 0;
    }
}

.slider__items_pets{
    max-width: 100%;
    gap: 36px 0;
    @include media-tablet{
        flex-wrap: wrap;
        justify-content: center;
    }
    @include media-mobile {
        gap: 27px 0; 
    }
}

.pets__pagination{
    padding-top: 65px;
    display: flex;
    justify-content: space-between;
    max-width: 340px;
    margin: auto;
    @include media-tablet{
        padding-top: 38px;
    }
    @include media-mobile{
        padding-top: 41px;
    }
}

.pets__slider{
    padding-top: 29px;
    @include media-tablet {
        max-height: 1365px;
        overflow: hidden;
    }
    @include media-mobile{
        padding-top: 41px;
    }
}